body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
}

header{
  padding: 50px 0;
  background-color: #EBCCD2;
  text-align: center;
  display: block;
}

h1{
  margin: 0;
  padding: 0;
}

#content {
  /* 10px padding on top and bottom. 40% margin on each side */
  padding: 40px 20%;
  background-color: #fff;
  position: relative;
}

#footer {
  border-top: 1px solid #EBCCD2;
  padding: 10px 20%;
}

.special{
  font-weight: borld;
  font-family: "Courier New", Courier, monospace;
}

#fancy-image{
  position: absolute;
  top: 20px;
  right: 20px;
  height: 250px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
